<div map-builder unselectable controller="app.components.MapBuilder">
    <style component="css-helpers"></style>
    <style component="./Theme.html"></style>
    <style>
        [map-builder-canvas-container] {
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            bottom: 100px;
            background-color: #000;
        }

        [map-builder-header] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: #f2f2f2;
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            box-sizing: border-box;
            padding-top: 25px;
        }

            [map-builder-header] > * {
                margin: 0 15px;
                vertical-align: top;
            }

        [map-builder-footer] {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            background-color: #f2f2f2;
            box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
            box-sizing: border-box;
            padding: 25px;
        }

        [map-builder-canvas] {
            width: 960px;
            height: 640px;
            background-color: #489848;
        }
    </style>
    <div tag="state-manager" component="absolute-state-manager" class="absolute-fill-parent">
        <div name="default" class="absolute-fill-parent">
            <div tag="canvas-container" map-builder-canvas-container>
                <canvas tag="canvas" map-builder-canvas class="fill-parent"></canvas>
            </div>
            <div map-builder-footer>
            </div>
            <div tag="header" map-builder-header>
                <!--<div tag="ground-color-button" component="./GroundColorSelector.html"></div>-->

                <div tag="selection-button" class="lifted-button" style="padding:6px;">
                    <img src="/images/cursor.png" class="fill-parent" />
                </div>

                <div tag="pan-button" class="lifted-button" style="padding:4px;">
                    <img src="/images/pan.png" class="fill-parent" />
                </div>

                <div tag="eraser-button" class="lifted-button" style="padding:4px;">
                    <img src="/images/eraser.png" class="fill-parent" />
                </div>

                <div tag="terrain-button"
                     class="lifted-button"
                     component="./CanvasImage.html"
                     source-path="/images/props.png"
                     source-width="16"
                     source-height="16"
                     source-x="1"
                     source-y="1"
                     style="padding:6px;"></div>

                <div tag="plants-button" class="lifted-button"
                     component="./CanvasImage.html"
                     source-path="/images/props.png"
                     source-width="65"
                     source-height="80"
                     source-x="50"
                     source-y="539"
                     style="padding:4px 8px"></div>

                <div tag="structures-button" class="lifted-button"
                     component="./CanvasImage.html"
                     source-path="/images/props.png"
                     source-width="96"
                     source-height="100"
                     source-x="351"
                     source-y="190"
                     style="padding:4px;"></div>
            </div>
        </div>
        <div tag="terrain" name="terrain" component="./BrushSelector.html"></div>
        <div tag="plants" name="plants" component="./BrushSelector.html"></div>
        <div tag="structures" name="structures" component="./BrushSelector.html"></div>
    </div>
</div>